<%- include("../partials/header") %>

<div class="row">
  <div class="col-lg-3 mb-3">
    <p class="lead">YelpCamp</p>
    <div class="list-group">
      <li class="list-group-item active">Data 1</li>
      <li class="list-group-item">Data 2</li>
      <li class="list-group-item">Data 3</li>
    </div>
    <!-- <div id="map"></div> -->
  </div>
  <div class="col-lg-9 mb-4">
    <div class="card mb-3">
      <img class="card-img-top img-fluid" src="<%= campground.image %>">
      <div class="card-body">
        <h5 class="float-right">$<%=campground.price%>/Night</h5>
        <h4><a href="#" class="campname card-title"><%=campground.name%></a></h4>
        <em>
          <p>Submitted By: <a
              href="/users/<%=campground.author.id%>"><%=campground.author.username%></a>,<%= moment(campground.createdAt).fromNow() %>
          </p>
        </em>
        <div class="float-right">
          <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#campgroundLikes">
             Total likes: <i class="fas fa-thumbs-up"></i> <span class="badge badge-light"> <%= campground.likes.length %></span>
          </button>
        </div>
        <div>
          <form action="/campgrounds/<%= campground.slug %>/like" method="POST">
            <div class="btn-group">
                <% if (currentUser && campground.likes.some(function (like) {
                    return like.equals(currentUser._id)
                })) { %>
                    <button class="btn btn-sm btn-info">
                        <i class="fas fa-thumbs-up"></i> Liked (<%= campground.likes.length %>)
                    </button>
                <% } else { %>
                    <button class="btn btn-sm btn-secondary">
                        <i class="fas fa-thumbs-up"></i> Like (<%= campground.likes.length %>)
                    </button>
                <% } %>
                <button type="button" class="btn btn-sm btn-default" data-toggle="modal"
                        data-target="#campgroundLikes">View Likes
                </button>
            </div>
        </form>
        </div>
        <div class="modal fade" id="campgroundLikes" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Campground Likes:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Liked By:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% campground.likes.forEach(function(like){ %>
                      <tr>
                        <td><span class="badge badge-dark"><i class="fas fa-user"></i></span> <%=like.username%></td>
                      </tr>
                    <% }); %>
                    <% if (campground.likes.length === 0) { %>
                      <tr>
                          <td><em>No likes yet.</em></td>
                      </tr>
                  <% } %>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <p class="card-text"><%= campground.description %></p>
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning btn-sm" href="/campgrounds/<%=campground.slug%>/edit">Edit</a>
        <form class="delete-form" action="/campgrounds/<%=campground.slug%>?_method=DELETE" method="POST">
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
        <% } %>
    </div> 
    </div>

    <!-- REVIEWS SECTION -->
    <div class="card">
      <div class="card-body">
          <% if (campground.rating === 0) { %>
          <h5>
              <em>No reviews yet.</em>
          </h5>
          <% } else { %>
          <p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
              <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
              <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
              <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
              <em>(total reviews: <%= campground.reviews.length %>)</em>
          </p>
          <p>
              Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
          </p>
          <p><h4>Latest reviews for this campground:</h4></p>
          <hr style="margin-top: 0;">
          <% campground.reviews.slice(0, 5).forEach(function(review){ %>
          <div class="row">
              <div class="col-md-3">
                  <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                  <div>Review by: <strong><%= review.author.username %></strong></div>
                  <span><em><%= review.updatedAt.toDateString() %></em></span>
              </div>
              <div class="col-md-9">
                  <p style="text-align: justify; word-wrap: break-word;">
                      <%= review.text %>
                  </p>
                  <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                  <form id="delete-form" action="/campgrounds/<%=campground.slug %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                      <input type="submit" class="btn btn-sm btn-danger float-right" value="Delete">
                  </form>
                  <a class="btn btn-sm btn-warning float-right mx-1"
                     href="/campgrounds/<%=campground.slug %>/reviews/<%=review._id %>/edit">Edit</a>
                  <% } %>
              </div>
          </div>
          <hr>
          <% }); %>
          <div style="margin-bottom: 10px;">
              <h5><a href="/campgrounds/<%= campground.slug %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h5>
          </div>
          <% } %>
          <div>
              <a class="btn btn-primary  <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground.slug %>/reviews/new">
                  Write a New Review</a>
          </div>
      </div>
  </div>

    <!-- COMMENTS SECTION -->
    
      <div class="card mt-3">
        <div class="card-body">
        <button class="btn btn-primary float-right" type="button" data-toggle="collapse" data-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
          <i class="fas fa-plus-circle" aria-hidden="true"></i> Add new comment</a>
        </button>
        <h4><strong>Comments <i class="fas fa-comments"></i></strong></h4>
      <div class="collapse" id="collapseComment">
        <div class="card mt-4">
        <div class="card-body" style="border-left: 10px solid green;">
         <% if(!currentUser){ %>
           <h5>Login to add your comment. <a href="/login">Click Here</a> To login</h5>
         <% } else{ %>
            <h4>Write your comment <i class="fas fa-pen" aria-hidden="true"></i></h4>
            <form id="add-comment-form" action="/campgrounds/<%= campground.slug %>/comments" method="POST">
              <div class="form-group">
                <textarea class="form-control" name="comment[text]" form="add-comment-form" cols="70" rows="5"></textarea>
              </div>
              <div class="form-group">
                 <button class="btn btn-sm btn-success">Comment <i class="fas fa-comment" aria-hidden="true"></i></button>
              </div>
            </form>
         <% } %>
        </div>
      </div>
      </div>

      <hr>
      <% if(campground.comments.length==0){ %>
         <h6><em>No Comments Yet.</em></h6>
      <% } %>
      <% campground.comments.forEach(function(comment){ %>
        <div class="card-text">
          <!-- <div class="col-md-12"> -->
            <strong>
                 <img class="rounded-circle" src="<%=comment.author.avatar%>" style="width: 45px; height: 45px;" alt="Profile Picture">
              <!--Print out the author username-->
               <span style="font-weight: 600;"><%= comment.author.username %></span> 
            </strong>
      
            <!--Show when the comment was made-->
            <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
      
            <!--Printing the comment-->
            <p class="card-text  mx-4"><%= comment.text %></p>
            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
              <!--Edit button used for collapsing the edit comment form-->
              <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
                Edit</a>
              <!--Delete comment button-->
              <form id="delete-form" action="/campgrounds/<%= campground.slug %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
              <!--Edit comment form-->
              <div class="collapse" id="collapseEdit<%= comment._id %>">
                <div class="card" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
                  <div class="card-body">
                  <h4>Edit your comment <i class="fas fa-edit" aria-hidden="true"></i></h4>
                  <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground.slug %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                      <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-warning btn-sm">Edit comment <i class="fas fa-comment" aria-hidden="true"></i></button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
                <% } %>
                <hr>
          </div>
      <% }) %>
     
   </div>
</div>

<!-- <script>
        function initMap() {
          var lat = <%= campground.lat %>;
          var lng = <%= campground.lng %>;
          var center = {lat: lat, lng: lng };
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 8,
              center: center,
              scrollwheel: false
          });
          var contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
          `
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          var marker = new google.maps.Marker({
              position: center,
              map: map
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8LygA5z2QEucahfE5bgK22_jU_Swj2q0&callback=initMap"></script> -->
<%- include("../partials/footer") %>